streamlit
PyPDF2
python-docx
requests
beautifulsoup4
markdownify
click
openai
zhipuai
openpyxl
python-pptx
Pillow
pytesseract
tesseract
streamlit_analytics
faiss-cpu
numpy
playwright  # 还需要 playwright install